<!-- Describe task in general -->
<p>
    You are given {% if is_js %}an Array{% else %}a list{% endif %} of tuples. Each tuple consists of two values: a string
    and {% if is_js %}a number{% else %}an integer{% endif %}.
    You need to create and return {% if is_js %}an Object{% else %}a dictionary{% endif %},
    where keys are string values from input tuples and values are aggregated (summed) {% if is_js %}number{% else %}integer{% endif %}
    values from input tuples for each specific key. The resulted {% if is_js %}Object{% else %}dictionary{% endif %}
    should not include items with empty key or zero value.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array{% else %}List{% endif %} of tuples.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Object{% else %}Dictionary{% endif %}. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

