<!-- Describe task in general -->
<p>
    Sie erhalten {% if is_js %}ein Array{% else %}eine Liste{% endif %} von Tupeln. Jedes Tupel besteht aus zwei Werten: einer Zeichenkette
    und {% if is_js %}einer Zahl{% else %}einer Ganzzahl{% endif %}.
    Sie müssen {% if is_js %}ein Objekt{% else %}ein Wörterbuch{% endif %} erstellen und zurückgeben,
    wobei die Schlüssel String-Werte aus den Eingabe-Tupeln sind und die Werte aggregierte (summierte) {% if is_js %}Zahl{% else %}Ganzzahl{% endif %}
    werte aus Eingabe-Tupeln für jeden spezifischen Schlüssel. Das resultierende {% if is_js %}Objekt{% else %}Wörterbuch{% endif %}
    sollte keine Elemente mit leerem Schlüssel oder Nullwert enthalten.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %} von Tupeln.
</p>

<p>
   <strong>Ausgabe:</strong> {% if is_js %}Objekt{% else %}Wörterbuch{% endif %}. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

